<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body {
  font-family: Arial;
  text-align: center;
  background-color: gray;
  color: white;
}
body, input, button {font-size: 32px;}
input, button {
  border-radius: 16px;
  padding: 8px;
}
h1 {font-size: 64px;}
    </style>
  </head>
  <body>
    
    <script>

    </script>
  </body>
</html>