<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body {
  font-family: Arial;
  text-align: center;
  background-color: gray;
  color: white;
}
body, input, button {font-size: 32px;}
input, button {
  border-radius: 16px;
  padding: 8px;
}
h1 {font-size: 64px;}
#content {
  display: flex;
  justify-content: center;
  text-align: left;
}
.spacer {height: 32px;}
#responseText {color: red;}
    </style>
  </head>
  <body>
    <div class="spacer"></div>
    <h1>Chat V2 Account Creation</h1>
    <div class="spacer"></div>Create an account for Chat V2:
    <div class="spacer"></div>
    <div id="content">
      <form action="/postcreate" method="post" autocomplete="off" target="_top">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass"><br> 
        <label for="passconfirm">Confirm Password:</label>
        <input type="password" id="passconfirm" name="passconfirm"><br>   
    </div>
      <input type="submit">
    </form><br>
    <div id="responseText"></div>
    <script>
document.getElementById('username').onkeypress = function(event){if (event.which == 32) {event.preventDefault();}};
document.getElementById('pass').onkeypress = function(event){if (event.which == 32) {event.preventDefault();}};
    </script>
  </body>
</html>