<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body {
  font-family: Arial;
  text-align: center;
  background-color: gray;
  color: white;
}
body, input, button {font-size: 32px;}
input, button {
  border-radius: 16px;
  padding: 8px;
}
h1 {font-size: 64px;}
#content {
  display: flex;
  justify-content: center;
  text-align: left;
}
.spacer {height: 32px;}
#responseText {color: red;}
    </style>
  </head>
  <body onload="load()">
    <div class="spacer"></div>
    <h1>Chat V2 Home</h1>
    <div class="spacer"></div>Welcome to Chat V2! Please enter login information or click create account:
    <div class="spacer"></div>
    <div id="content">
      <form action="/postlogin" method="post" autocomplete="off" target="_top">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass"><br>   
    </div>
      <input type="submit">
    </form>
    <button onclick="window.location.href = '/createaccount';">Create Account</button><br>
    <div id="responseText"></div>
    <script>
function load() {
  const urlParams = new URLSearchParams(window.location.search);
  const response = urlParams.get('response');
  if (response == "lincorrect") {
    document.getElementById('responseText').innerHTML = "The username or password you have entered is incorrect.";
  }
  if (response == "csuccess") {
    document.getElementById('responseText').innerHTML = "Your account has been created! Please log in to your account.";
  }
  if (response == "cincorrect") {
    document.getElementById('responseText').innerHTML = "The passwords you entered didn't match.";
  }
  if (response == "cusertaken") {
    document.getElementById('responseText').innerHTML = "That username is taken. Please enter a new one.";
  }
  if (response == "ctoolong") {
    document.getElementById('responseText').innerHTML = "The username or password you have entered is too long. Please enter a different one.";
  }
  if (response == "ctooshort") {
    document.getElementById('responseText').innerHTML = "The username or password you have entered is too short. Please enter a different one.";
  }
}
document.getElementById('username').onkeypress = function(event){if (event.which == 32) {event.preventDefault();}};
document.getElementById('pass').onkeypress = function(event){if (event.which == 32) {event.preventDefault();}};
    </script>
  </body>
</html>