<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body {
  font-family: Arial;
  text-align: center;
}
    </style>
  </head>
  <body>
    <h1>Chat V2 Home</h1>
  </body>
</html>